{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link href="{% static 'tracker/css/output.css' %}" rel="stylesheet">
    <link  rel="stylesheet" href="{% static 'tracker/css/input.css' %}">
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-green-50 flex items-center justify-center min-h-screen p-4" x-data="{ mobileMenuOpen:false }">
    <div class="bg-white  p-8 rounded-2xl shadow-xl w-full max-w-md border border-gray-100">
        <h2 class="font-bold text-4xl text-custom-green_tone1">Password Reset Successful</h2>
        <button class="bg-green-600 mt-4 px-4 py-2 rounded-2xl text-white text-xl font-semibold">
            <a href="{% url 'login_page' %}">Login</a>
        </button>
    </div>
</body>
</html>