{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Done</title>
    <link href="{% static 'tracker/css/output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-green-50 flex items-center justify-center min-h-screen p-4" x-data="{ mobileMenuOpen:false }">
    <div class="bg-white  p-8 rounded-2xl shadow-xl w-full max-w-md border border-gray-100 text-center">
        <h2 class="text-4xl text-custom-green_tone1 font-semibold">Check you email!</h2>
        <p class="mt-2 text-xl">If the email exists, a password reset link has been sent.</p>
    </div>
</body>
</html>