{% load static %}
{% load i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="{% static 'tracker/css/output.css' %}" rel="stylesheet">
    <link  rel="stylesheet" href="{% static 'tracker/css/input.css' %}">
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css" integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-green-50 font-sans pb-24 text-gray-900 min-h-screen" x-data="{ mobileMenuOpen:false }">
{% comment %} NavBar {% endcomment %}
    <nav class="bg-white shadow-sm sticky top-0 z-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16 items-center">
                <div class="flex items-center gap-2">
                   <div class="bg-custom-green p-1.5 rounded-lg">
                    <i class="fa-solid fa-indian-rupee-sign text-white text-xl"></i>
                   </div>
                   <span class="text-xl font-bold text-gray-800">{% trans "Rupee Tracker" %}</span>
                </div>
                <div class="hidden md:flex space-x-8 text-sm font-medium text-gray-600">
                    <a href="{% url 'home' %}" class="text-gray-600">{% trans "Home" %}</a>
                    <a href="{% url 'about' %}" class="text-gray-600">{% trans "About" %}</a>
                    <a href="{% url 'dashboard' %}" class="text-gray-600">{% trans "Dashboard" %}</a>
                    <a href="{% url 'contact' %}" class="text-gray-600">{% trans "Contact Us" %}</a>
                    <a href="{% url 'setting' %}" class="text-gray-600">{% trans "Settings" %}</a>
                </div>
                <div class="flex items-center gap-4">
                    <button class="hidden sm:block text-gray-500 hover:text-custom-green_tone1"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button class="bg-custom-green text-white px-4 py-1.5 rounded-full text-sm font-semibold hover:opacity-90"><a href="{% url 'login_page' %}">{% trans "Login" %}</a></button>
                    <button @click="mobileMenuOpen = ! mobileMenuOpen" class="md:hidden text-gray-600 text-2xl">
                        <i :class="mobileMenuOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"></i>
                    </button>
                </div>
            </div>
        </div>
        <div x-show="mobileMenuOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition-end="opacity-100 translate-y-0" class="md:hidden bg-white border-t border-gray-100 px-4 py-4 space-y-3 shadow-lg">
            <a href="{% url 'home' %}" class="block text-gray-600">{% trans "Home" %}</a>
            <a href="{% url 'about' %}" class="block text-gray-600">{% trans "About" %}</a>
            <a href="{% url 'dashboard' %}" class="block text-gray-600">{% trans "Dashboard" %}</a>
            <a href="{% url 'contact' %}" class="block text-gray-600">{% trans "Contact Us" %}</a>
            <a href="{% url 'setting' %}" class="block text-gray-600">{% trans "Settings" %}</a>
        </div>
    </nav>
{% comment %} Header {% endcomment %}
  <header class="w-full bg-custom-green pt-12 pb-24 px-6 rounded-b-[2.5rem] shadow-md">
        <div class="max-w-6xl mx-auto flex items-center gap-6 text-white">
            <a href="{% url 'home' %}" class="w-12 h-12 flex items-center justify-center rounded-full bg-white/10 hover:bg-white/20 transition">
                <i class="fa-solid fa-arrow-left text-xl"></i>
            </a>
            <div>
                <h1 class="text-4xl font-medium tracking-tight ">{% trans "Dashboard" %}</h1>
                <p class="text-white/70 text-sm">{% trans "Track your expenses and control flow here!" %}</p>
            </div>
        </div>
    </header>
{% comment %} Main Expense Tracking section {% endcomment %}
    <main class="max-w-6xl mx-auto px-6 -mt-12">
      <div class="bg-white rounded-3xl shodow-xl p-8 border border-gray-100">
        <div class="flex justify-between text-xl text-custom-green_tone1 pb-10">
        <h2 class="text-custom-green_tone1 text-2xl font-medium uppercase tracking-widest mb-6">{% trans "Budget Overview" %}</h2>
        <a href="{% url 'calender' %}" class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-400/10 hover:bg-gray-600/20 transition">
          <i class="fa-regular fa-calendar"></i>
        </a>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between gap-8">
          <div class="flex-1 w-full text-center md:text-left">
            <div class="flex items-center justify-center md:justify-start gap-2 mb-2">
              <p class="text-sm font-bold text-custom-green_tone1 uppercase tracking-tighter">{% trans "Total Income" %}</p>
            </div>
            <h2 class="text-3xl md:text-4xl font-black text-gray-400 border border-gray-200 rounded-3xl p-4">
              {%  if request.user.usersettings.hide_amounts %}
               ₹*****
              {% else %}
               ₹{{ total_income }}
              {% endif %}
            </h2>
          </div>
          <div class="flex-1 w-full text-center md:text-left">
            <div class="flex items-center justify-center md:justify-start gap-2 mb-2">
              <p class="text-sm font-bold text-custom-green_tone1 uppercase tracking-tighter">{% trans "Total Expenses" %}</p>
            </div>
            <h2 class="text-3xl md:text-4xl font-black text-gray-400 border border-gray-200 rounded-3xl p-4">
               ₹{{ total_expense }}
            </h2>
          </div>
        </div>
    </main>
{% comment %} Finance Insights {% endcomment %}
      <div class="max-w-6xl mx-auto bg-white rounded-3xl shodow-xl p-8 mt-3 border border-gray-100 ">
        <section class="max-w-5px mx-auto px-6 mt-2">
          <h1 class="text-xl mb-8 text-custom-green_tone1 font-bold tracking-tight">{% trans "Financial Insights" %}</h1>
          <div class="grid grid-cols-3 gap-4">
            <a href="{% url 'analysis' %}" class="bg-green-50 p-4 rounded-2xl shadow-sm flex flex-col items-center gap-2 hover:scale-105 transition">
              <i class="fa-solid fa-chart-line text-custom-green_tone1 text-xl"></i>
              <span class="text-[10px] font-bold text-gray-500 uppercase">{% trans "Analysis" %}</span>
            </a>
            <a href="{% url 'category' %}" class="bg-green-50 p-4 rounded-2xl shadow-sm flex flex-col items-center gap-2 hover:scale-105 transition">
              <i class="fa-solid fa-layer-group text-custom-green_tone1 text-xl"></i>
              <span class="text-[10px] font-bold text-gray-500 uppercase">{% trans "category" %}</span>
            </a>
            <a href="{% url 'charts' %}" class="bg-green-50 p-4 rounded-2xl shadow-sm flex flex-col items-center gap-2 hover:scale-105 transition">
              <i class="fa-solid fa-chart-pie text-custom-green_tone1 text-xl"></i>
              <span class="text-[10px] font-bold text-gray-500 uppercase">{% trans "charts" %}</span>
            </a>
         </div>
       </section>
      </div>
{% comment %} Health Status {% endcomment %}
    <section class="max-w-6px mx-auto px-6 mt-8">
      <div class="max-w-6xl mx-auto bg-white rounded-[2.5rem] shodow-xl p-8 border border-gray-100">
        <h1 class="text-xl mb-4 text-custom-green_tone1 font-bold tracking-tight">{% trans "Health Status" %}</h1>
        <div class="flex flex-col md:flex-row items-center gap-8">
          <div class="relative w-32 h-32 flex justify-center items-center">
            <svg class="absolute w-full h-full rotate-[-90deg]" viewBox="0 0 120 120">
              <defs>
                <filter id="glow">
                  <feGaussianBlur stdDeviation="4" result="coloredBlur"/>
                  <feMerge>
                    <feMergeNode in="coloredBlur"/>
                    <feMergeNode in="SourceGraphic"/>
                  </feMerge>
                </filter>
              </defs>
              <circle cx="60" cy="60" r="45" stroke="#e5e7eb" stroke-width="10" fill="none"/>
              <circle cx="60" cy="60" r="45" stroke="{{ health_color }}" stroke-width="10" fill="none" stoke-linecap="round" stroke-dasharray="283" stroke-dashoffset="{{ dash_offset }}" transform="rotate(-90 60 60)" filter="url(#glow)" style="transition: strokw-dashoffset 0.8s ease;"/>
            </svg>
            <span class="absolute insett-0 flex items-center justify-center text-lg font-bold">
              {{ health_percent }}%
            </span>
          </div>
          <div class="flex-1 text-center md:text-left">
            <p class="font-medium mt-2" style="color: {{ health_color }}">{{ health_message }}</p>
          </div>
        </div>
      </div>
   </section>
{% comment %} Recent Expenses {% endcomment %}
    <section class="expense-card max-w-6xl mx-auto p-4 mt-8" id="recent-expenses">
        <h3 class="text-lg font-bold text-custom-green_tone1 mb-4">{% trans "Recent Expenses" %}</h3>
        <div class="space-y-4">
          {% for e in expenses %}
            <div class="flex justify-between bg-white p-4 rounded-xl shadow-sm">
              <div>
                <p class="font-semibold">{{ e.title }}</p>
                <p class="text-xs text-gray-500">{{ e.category }}  {{ e.date }}</p>
              </div>
              <span class="font-bold gap-8">₹{{ e.amount }}
              <a href="{% url 'edit_expense' e.id %}"><i class="fa-regular fa-pen-to-square text-blue-600 gap-8 hover:scale-110 transition"></i></a>
              <a href="{% url 'delete_expense' e.id %}" onclick="return confirm('Delete this expense?')"><i class="fa-regular fa-trash-can text-red-600 gap-8 hover:scale-110 transition"></i></a></span>
            </div>
            {% empty %}
            <p class="text-gray-400">{% trans 'No expenses yet' %}</p>
          {% endfor %}
        </div>
    </section>
  
    <div class="fixed bottom-6 right-6 z-100" x-data="{open : false}">
      <button @click="open = !open" class="w-14 h-14 bg-[#5f8724] text-white rounded-full shadow-lg flex items-center justify-center hover:bg-[#748c69] transition-all duration-300 transform hover:scale-110 active:scale-95 focus:outline-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-plus text-xl"></i>
      </button>
    </div>

{% comment %} Form to add expenses {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-2xl bg-gray-50">
      <div class="modal-header">
        <h1 class="text-green-800 text-3xl font-bold" id="exampleModalLabel">{% trans "Add Expense" %}</h1>
      </div>
      <form method="POST" action={% url 'add_expense' %}>
        {% csrf_token %}
        <div class="p-4">
          <div class="mb-3"> 
            <input type="text" name="title" class="form-control rounded-3 p-3" placeholder="{% trans 'Title' %}" required>  
          </div>
          <div class="mb-3"> 
            <input type="number" name="amount" step="0.01" min="0" class="form-control rounded-3 p-3" placeholder="{% trans 'Amount' %}" required>  
          </div>
          <div class="mb-3"> 
            <select name="category" class="form-control rounded-3 p-3 text-gray-500" required>
              <option value="Food">{% trans "Food" %}</option>
              <option value="Shopping">{% trans "Shopping" %}</option>
              <option value="Housing">{% trans "Housing" %}</option>
              <option value="Transport">{% trans "Transport" %}</option>
              <option value="Entertainment">{% trans "Entertainment" %}</option>
              <option value="Health">{% trans "Health" %}</option>
              <option value="Others">{% trans "Others" %}</option>
            </select> 
          </div>
          <div class="mb-3"> 
            <input name="date" type="date" class="form-control rounded-3 p-3" required>  
          </div>
        </div>
        <div class="modal-footer flex justify-center">
          <button type="button" class="px-6 py-3 rounded-2xl bg-gray-300 text-black font-semibold" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
          <button type="submit" class="px-8 py-3 rounded-2xl bg-custom-green text-white font-semibold">{% trans "Add" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>